{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    // TODO: vue2 version
    "plugin:vue/vue3-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/singleline-html-element-content-newline": "off",
    "no-async-promise-executor": "off",
    "vue/require-explicit-emits": "off",
    "vue/no-deprecated-destroyed-lifecycle": "off"
  }
}